html {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
div {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: #ff9966;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a {
	text-decoration: none;
	color: black;
}
header, footer, section, aside {
	display: block;
}

#content {
	margin: 0 auto;
	max-width: 1100px;
}
.logo {
	padding: 10px 20px;
	margin: 20px;
	background: #fff;
	display: inline-block;
	border-radius: 25px;
}
.explainer {
	font-family: Arial, sans-serif;
	font-size: 18px;
	margin: 20px 0;
}

#gameArea {
	float: left;
	width: 100%;
}

.tangram {
	display: none;
	background-color: #d9d9d9;
	width: 20%;
	margin-left: 6.66%;
	margin-right: 6.66%;
	margin-top: 2%;
	float: left;
	border-radius: 25px;
	transition: 0.2s;
}

.tangram:hover {
	background-color: #666666;
}
.tangram:hover path {
	fill: white !important;
}

#game, #loading {
	display: none;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background-color: #d9d9d9;
	border-radius: 25px;
	margin-top: 2%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#loading {
	background-color: #E9E9E9;
}

.clear {
	clear: both;
}

#buttons {
	text-align: center;
	padding-top: 2%
}

button {
	font-size: 1em;
	color: #BCBCBC;
	background-color: #666666;
	padding: 15px 10px;
	width: 15%;
	border: none;
	border-radius: 20px;
	transition: 0.2s;
}

button:hover {
	color: #666666;
	background-color: #BCBCBC;
}

.buttonText {
	display: inline;
}

svg text {
	font-family: FontAwesome, sans-serif;
}

#select, #set, #hint, #sol {
	display: none;
	margin-left: 2%;
	margin-right: 2%
}

footer {
	font-size: 0.8em;
	height: 1.5em;
	position: absolute;
	bottom: 0;
	left: 0;
}

*:focus {
	outline: 0;
}

@media (max-width: 800px) {
	.buttonText {
		display: none;
	}
}

#piece0 {
	fill: #E1462C !important;
}
#piece1 {
	fill: #FAF05B !important;
}
#piece2 {
	fill: #87CEE9 !important;
}
#piece3 {
	fill: #F8BB4B !important;
}
#piece4 {
	fill: #F88C96 !important;
}
#piece5 {
	fill: #FBF69A !important;
}
#piece6 {
	fill: #C8D951 !important;
}

